@font-face {
	font-family: 'AvenirLight';
	src: url('../fonts/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
	font-family: 'AvenirBold';
	src: url('../fonts/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
	font-family: 'TypoGroteskBold';
	src: url('../fonts/typo_grotesk_bold_demo-webfont.woff') format('woff');
}

html, body {
	height: 100%;
    font-family: 'AvenirLight';
    font-weight: 200;
    font-size: 0px;
}
html, body, ul, div, img, h1, h2, h3, a, li {
	padding:0;
	margin:0;
}
b {
	font-family: 'AvenirBold';
}
body {
	background-image: url(../images/spoopicture.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: black;
	height: calc(100% - 112px);
}

/*---HEADER---*/
.header {
	background-color: transparent;
}

.header a {
	color: #e4e4e4;
}

.menu-btn span {
	background-color: #e4e4e4;
}

@media screen and (max-width: 480px) {
	.header {
		background-color: black;
	}
	.mobile-menu {
		background-color: #1b1b1b;
	}
}


/*---BODY---*/
.body {
	height: calc(100% - 112px);
	margin-top: 112px;
}
p {
	font-size: 20px;
	line-height: 170%;
	color: #f3f3f3;
	margin: 0 0 25px 67px;
	width: 400px;
}
#content {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#resume a {
	color: #f3f3f3;
	display: inline-block;;
	font-size: 20px;
	text-decoration: none;
	width: 280px;
	margin: 11px 0 0 15px;
	top:0;
}
#resume {
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	border-color: #f3f3f3;
	height: 45px;
	width: 236px;
	margin-left: 67px;
	transition: all .2s ease-out;
}
#resume:hover {
	background-color: #f3f3f3;
}
#resume:hover a{
	color: black;
}

