@font-face {
	font-family: 'AvenirLight';
	src: url('../fonts/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
	font-family: 'AvenirBold89';
	src: url('../fonts/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
	font-family: 'TypoGroteskBold';
	src: url('../fonts/typo_grotesk_bold_demo-webfont.woff') format('woff');
}

html, body {
	height: 100%;
    font-family: 'AvenirLight';
    font-weight: 200;
    font-size: 0px;
}
html, body, ul, div, img, h1, h2, h3, a, li {
	padding:0;
	margin:0;
}
b {
	font-family: 'AvenirBold89';
}
body {
	background-image: url(../images/spoopicture.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	background-color: black;
	height: calc(100% - 112px);
}

/*---HEADER---*/
.header {
    background-color: rgba(255,255,255, 0);
    display: block;
    width: 100%;
    position: fixed;
    top:0;
}
.header img {
	padding:16px 0 16px 40px;
    height: 80px;
    width: auto;
	vertical-align: bottom;
}
.header ul {
	float:right;
	margin-top:44px;
}
.header li {
    font-family: 'TypoGroteskBold';
	list-style-type: none;
	display: inline-block;
	margin-right: 67px;
	padding-bottom: 6px;
}
.header li:nth-child(1) {
	padding-bottom: 3px;
	border-bottom: 3px solid white;
	vertical-align: middle;
}
.header a {
	font-size: 22px;
	text-decoration: none;
	color: #f3f3f3;
}

/*---BODY---*/
.body {
	height: calc(100% - 112px);
	margin-top: 112px;
}
p {
	font-size: 20px;
	color: #f3f3f3;
	margin: 0 0 25px 65px;
	width: 400px;
}
#content {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#resume a {
	color: #f3f3f3;
	display: inline-block;;
	font-size: 20px;
	text-decoration: none;
	width: 280px;
	margin: 11px 0 0 15px;
	top:0;
}
#resume {
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	border-color: #f3f3f3;
	height: 45px;
	width: 236px;
	margin-left: 65px;
	transition: all .2s ease-out;
}
#resume:hover {
	background-color: #f3f3f3;
}
#resume:hover a{
	color: black;
}

/*---ANIMATIONS---*/
/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #A9A9A9;
	height: 3px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}
