@font-face {
	font-family: 'AvenirLight';
	src: url('../fonts/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
	font-family: 'AvenirBold';
	src: url('../fonts/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
	font-family: 'TypoGrotesk';
	src: url('../fonts/typo_grotesk_bold_demo-webfont.woff') format('woff');
}
html, body {
    font-family: 'AvenirLight';
    font-weight: 200;
}
html, body, ul, div, img, h1, a, li {
	padding:0;
	margin:0;
}


/*---HEADER---*/
.header * {
	transition: all 0.2s;
}
.logo {
	height: 73px;
}

.mobile-menu {
	display: none;
	transition: all 1s;
	opacity: 0;
}
.header {
  background-color: rgba(255,255,255, 1);
  display: block;
	width: calc(100% - 120px);
	position: fixed;
	top: 0;
	padding: 20px 60px;
}

.header ul {
	float:right;
	margin-top:29px;
}
.header li {
	list-style-type: none;
	display: inline-block;
	margin-left: 67px;
	padding-bottom: 6px;
}
.header a {
	font-family: "AvenirBold";
	font-size: 25px;
	text-decoration: none;
	color: #6C6C6C;
	display: inline-block;
	margin-bottom: -10px;
	padding-bottom: 5px;
}

/*---SCROLL---*/
.scroll .logo{
	height: 50px;
}

.scroll{
	padding: 12px 50px;
	width: calc(100% - 100px);
	border-bottom: solid 2px #cfdde6;
}

.scroll > ul {
	margin-top: 16px;
}

.scroll a {
	font-size: 20px;

}

/*---MOBILE-MENU---*/
.menu-btn {
	display: none;
	position: fixed;
	right: 20px;
	top: 33px;
	cursor: pointer;
}

.menu-btn span {
	 display: block;
	 width: 19px;
	 height: 3px;
	 margin: 4px 0;
	 background: #6f787b;
	 z-index: 99;
}

.mobile-menu {
	position: fixed;
	width: 100%;
	background-color: #6f787b;
	opacity: 1;
	animation: menu-down .25s ease-out;
	top: 92px;
	display: none;
	padding: 5px 0;
}

.mobile-menu a {
	display: block;
	color: white;
	text-align: right;
	padding: 20px;
	font-family: "AvenirBold";
	font-size: 22px;
	text-decoration: none;

}

.expand {
	display: block;
}

/*---MOBILE---*/
@keyframes menu-down {
    from {
        transform:translateY(-272px);
    }
    to {
        transform: translateY(0px);
    }
}


@media screen and (max-width: 700px) {
	/*---HEADER---*/
	.header {
		padding: 16px 30px;
		width: calc(100% - 60px);
	}
	.logo {
	  height: 60px;
		vertical-align: bottom;
	}

	.header > ul {
		margin-top: 21px;
	}

	.header li {
		list-style-type: none;
		display: inline-block;
		margin-left: 40px;
		padding-bottom: 6px;
	}
	.header a {
		font-size: 20px;
		text-decoration: none;
		color: #6C6C6C;
		margin-bottom: 0;
	}

}
@media screen and (max-width: 480px) {
	.header {
		padding: 16px 30px;
	}
	.header > ul {
		display: none;
	}
	.menu-btn {
		display: inline-block;
	}
}
@media screen and (min-width: 480px) {
	.expand {
		display: none;
	}
}

.underline {
	box-shadow: 0 3px #A9A9A9;
	display: inline-block;
	z-index: -1;
	vertical-align: middle;
	transform: translateZ(0);
}

.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #A9A9A9;
	height: 3px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}
