.header {
  width: 100%;
  background-color: #eb8840;
  border-bottom: solid 3px white;
}

.header a {
  color: white;
}

.logo {
  height: 55px;
  vertical-align: bottom;
}

.header > ul {
  margin-top: 18px;
}


.header li {
  list-style-type: none;
  display: inline-block;
  margin-left: 40px;
  padding-bottom: 6px;
}
.header a {
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 0;
}

.menu-btn span {
  background-color: white;
}

.scroll > ul {
	margin-top: 11px;
}
.scroll .logo {
  height: 40px;
}
.scroll a {
  font-size: 18px;
}

.hvr-underline-from-center:before {
  background-color: white;
}

@media screen and (max-width: 480px) {
  .menu-btn {
    margin-top: 11px;
  }
  .logo {
    height: 45px;
  }
  .mobile-menu {
    top: 74px;
  }
}
