@font-face {
	font-family: 'AvenirLight';
	src: url('../fonts/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
	font-family: 'AvenirBold';
	src: url('../fonts/AvenirLTStd-Heavy.woff') format('woff');
}
html, body {
    font-family: 'AvenirLight';
}
html, body, ul, div, img, h1, a, li {
	padding:0;
	margin:0;
}
b {
	font-family: 'AvenirBold';
}

.body {
	font-family: 'AvenirLight';
}
.body {
	width: 623px;
	margin: 225px auto 0 auto;
	position: absolute;
	left: 0;
	right: 0;
}

#title {
	padding: 12px 0 9px 32px;
}
.gradientBackground{
	background: linear-gradient(300deg, #9bdcf7, #f7d19b, #f79b9b, #d29bf7);
	background-size: 800% 800%;
	-webkit-animation: GradientMotion 6s ease infinite;
	-moz-animation: GradientMotion 6s ease infinite;
	-o-animation: GradientMotion 6s ease infinite;
	animation: GradientMotion 6s ease infinite;
}

.body h1 {
	font-family: 'AvenirBold';
	font-size: 70px;
	color: rgba(255,255,255,.85);
}

h2 {
	font-size: 36px;
	margin: 0 0 17px 0;
	color: #636363;
}
p {
	font-size: 30px;
	color: #636363;
}
#workButton {
	position: absolute;
	right: 0;
	text-decoration: none;
	font-size: 26px;
	color: white;
	padding: 10px 20px 9px 20px;
	background-color: #636363;
	margin-top: 4px;
}
#workButton:hover {
	box-shadow: 0px 5px 16px rgba(0,0,0,0.19);
	transform: translateY(-5px);
}


/*---MOBILE---*/

@media screen and (max-width: 640px) {
	.body {
		width: calc(100% - 40px);
		margin: 146px 20px 20px 20px;
	}
	.body h1 {
		font-size: 50px;
	}
	.body li {
		font-size: 20px;
		line-height: 50px;
	}
	.body h2 {
		font-size: 27px;
		margin: 0 0 8px 0;
	}
	.body p {
		font-size: 27px;
		margin: 14px 0 10px 0;
		line-height: 137%;
		text-align: right;
	}
	#workButton {
		font-size: 22px;
		margin-top: 0;
	}
}

/*---FONT---*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}





/*---ANIMATIONS---*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes GradientMotion {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}
@-moz-keyframes GradientMotion {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}
@-o-keyframes GradientMotion {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}
@-ms-keyframes GradientMotion {
	0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}
@keyframes GradientMotion {
    0%{background-position:0% 27%}
    50%{background-position:100% 74%}
    100%{background-position:0% 27%}
}

/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #A9A9A9;
	height: 3px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}
