body {
  background-color: rgb(255, 255, 255);
  font: 100 1.125em/1.38 Raleway;
  color: rgb(255, 255, 255);
}

.container {
  width: 947px;
  height: 294px;
  margin: 423px auto 0;
  overflow: visible;
}

.container .element {
  float: left;
  width: 294px;
  height: 294px;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.container .element:hover {
  border-bottom-width: 10px;
  border-bottom-style: solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.container .text:hover {
  border-bottom-width: 0;
  border-bottom-style: none;
  font-weight: 400;
}

.text {
  text-align: center;
}

._element {
  width: 12.6168224299%;
  height: 56px;
  margin: 0 auto;
  background-color: rgba(222, 222, 222, 0);
}

.element-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 367px;
  padding-right: 10px;
  padding-left: 10px;
  background: rgb(114, 226, 127);
  background: -webkit-linear-gradient(349deg, rgb(114, 226, 127) 30.476190476190478%, rgb(225, 244, 142) 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(349deg, rgb(114, 226, 127) 30.476190476190478%, rgb(225, 244, 142) 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(349deg, rgb(114, 226, 127) 30.476190476190478%, rgb(225, 244, 142) 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(349deg, rgb(114, 226, 127) 30.476190476190478%, rgb(225, 244, 142) 100%) rgb(222, 222, 222);
  background:         linear-gradient(101deg, rgb(114, 226, 127) 30.476190476190478%, rgb(225, 244, 142) 100%) rgb(222, 222, 222);
  box-shadow: 0 -2px 5px rgba(54, 54, 54, 0.35) inset;
  overflow: auto;
}

.element-1:hover {
  box-shadow: 0 -2px 5px rgba(54, 54, 54, 0.35) inset;
}

.element-2 {
  margin-left: 1px;
  background-color: rgb(249, 190, 133);
}

.element-2:hover {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-color: rgb(255, 251, 238);
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  background-color: rgb(249, 190, 133);
}

.element-3 {
  margin-left: 3.2801%;
  background-color: rgb(188, 152, 255);
}

.element-3:hover {
  border-color: rgb(215, 123, 255) rgb(215, 123, 255) rgb(251, 243, 255);
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  background-color: rgb(188, 152, 255);
}

.element-4 {
  margin-left: 3.2801%;
  background-color: rgb(129, 204, 255);
}

.element-4:hover {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-color: rgb(242, 249, 255);
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  background-color: rgb(129, 204, 255);
}

.text-1 {
  margin: 134px auto 0;
  font-family: 'Pier Sans';
  font-size: 2.833em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.text-2 {
  float: left;
  clear: both;
  width: 100%;
  min-height: 63px;
  margin-top: 28px;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-3 {
  height: 283px;
  margin: 0 auto;
  padding-top: 81px;
  padding-bottom: 70px;
  font-size: 2.667em;
  color: rgb(255, 251, 238);
}

.text-3:hover {
  font-size: 48px;
}

.text-4 {
  float: left;
  height: 283px;
  padding-top: 119px;
  padding-bottom: 109px;
  font-size: 2.222em;
  color: rgb(251, 243, 255);
}

.text-5 {
  float: left;
  width: 294px;
  height: 284px;
  padding-top: 119px;
  padding-bottom: 110px;
  font-size: 2.222em;
  color: rgb(242, 249, 255);
}

.text-5:hover {
  font-style: normal;
}

@media(max-width: 945px) {
  .container {
    position: relative;
    width: 608px;
    height: 630px;
    margin-top: 238px;
  }

  ._element {
    float: left;
    clear: both;
    margin-top: 299px;
    margin-right: 0;
    margin-left: 43.57474%;
  }

  .container .element-2 {
    position: relative;
    z-index: 5;
    margin-left: 0;
  }

  .container .element-3 {
    position: relative;
    float: right;
    z-index: 3;
    margin-right: 0.0025699999%;
    margin-left: 0;
  }

  .container .element-4 {
    position: absolute;
    float: none;
    top: 313px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .element .text-1 {
    margin-top: 46px;
  }

  .element .text-2 {
    margin-top: 16px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-left: 15px;
  }

  .element .text-4 {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .element-1 {
    height: auto;
    padding-bottom: 18px;
  }
}

@media(max-width: 647px) {
  body {
    font-size: 1.125em;
  }

  .container {
    float: left;
    width: 100%;
    height: 922px;
    margin-top: 206px;
    margin-right: 0;
    margin-left: 0;
  }

  .container .element {
    width: 100%;
  }

  ._element {
    margin-top: 39px;
    margin-left: 43.57371%;
  }

  .container .element-2 {
    position: relative;
    z-index: 5;
  }

  .container .element-3 {
    position: relative;
    float: left;
    clear: both;
    z-index: 3;
    margin-right: 0;
  }

  .container .element-4 {
    position: static;
    float: left;
    clear: both;
    top: auto;
    left: auto;
    right: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .element .text-1 {
    width: 90%;
    margin-top: 45px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 2.556em;
  }

  .element .text-2 {
    min-height: 0;
    margin-top: 10px;
    padding-bottom: 7px;
  }

  .element .text-4 {
    float: left;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .element .text-5 {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .element-1 {
    height: 206px;
  }
}

@media(max-width: 564px) {
  .container {
    position: relative;
    z-index: 6;
    margin-top: 259px;
  }

  ._element {
    position: relative;
    z-index: 10;
    margin-top: -14px;
    margin-left: 43.5727%;
  }

  .container .element-2 {
    position: relative;
    z-index: 5;
  }

  .container .element-3 {
    position: relative;
    z-index: 3;
  }

  .element .text-4 {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .element-1 {
    height: 259px;
  }
}