* {
	transition: all 0.2s;
}

body {
  background-color: #191919;
}

.body {
  margin-top: 88px;
}
.body h2 {
  position: relative;
  top: calc(50% - 60px);
  display: inline-block;
  width: 100%;
  font-size: 21px;
  letter-spacing: 5px;
  cursor: pointer;
}
.body h2:hover {
  color: #dfdfdf;
}

.header {
  background-color: #313131;
}

#sidebar {
  display: table-cell;
  min-width: 300px;
  height: calc(100vh - 88px);
  background-color: #202020;
  text-align: center;
  vertical-align:top;
}

#moreWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 264px;
  background-color: rgba(0,0,0,0.1);
  padding: 15px 18px 13px 18px
}
#moreWrapper > h3{
  color: #afafaf;
  font-size: 14px;
  letter-spacing: 4px;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 19px;
}
#moreWrapper > a {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: bottom;
  filter: grayscale(100%);
  cursor: pointer;
}
#moreWrapper > a:hover {
  filter: grayscale(0%);
}

#flickr {
  background-image: url(../images/flickr.svg);
  height: 15px;
  width: 15px;
  margin-bottom: 3px;
}

#labels {
  color: #6e6e6e;
  height: calc(100vh - 88px);
  vertical-align: middle;
  position: fixed;
  width: 300px;
}

#content {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  text-align: center;
  padding: 30px 0;
}

#content > img {
  max-width: 1080px;
  width: 90%;
  display: inline-block;
  margin: 75px 0;
  filter: grayscale(100%);
  transition: all 0.3s;
}

iframe {
  width: 90%;
  max-width: 1000px;
  display: inline-block;
  margin: 50px 0;
}

.currentLabel {
  color: #afafaf;
}

.currentPic {
  filter: grayscale(0%) !important;
}



/*---MOBILE---*/
@media screen and (max-width: 850px) {
    #sidebar {
      min-width: 200px;
    }
    #labels {
      width: 200px;
    }
    .body h2 {
      font-size: 18px;
    }
}

@media screen and (max-width: 660px) {
    #sidebar {
      display: none;
    }
    #labels {
      display: none;
    }
    #content > img {
      margin: 20px 0;
      filter: grayscale(0%);
    }
    iframe {
      margin: 20px 0 20px 0;
    }
}
