@font-face {
	font-family: 'AvenirLight';
	src: url('fonts/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
	font-family: 'AvenirBold';
	src: url('fonts/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
	font-family: 'TypoGroteskBold';
	src: url('../fonts/typo_grotesk_bold_demo-webfont.woff') format('woff');
}

html, body {
    min-height: 100%;
    height: 100%;
    font-family: 'AvenirLight';
    font-weight: 200;
}
html, body, ul, div, img, h1, a, li {
	padding:0;
	margin:0;
}
/*---HEADER---*/
.header {
    background-color: white;
    display: block;
    width: 100%;
    position: fixed;
    top:0;
}
.header img {
	padding:14px 0 14px 40px;
    height: 100px;
    width: auto;
}
.header ul {
	float:right;
	margin-top:44px;
}
.header li {
    font-family: 'TypoGroteskBold';
	list-style-type: none;
	display: inline-block;
	margin-right: 67px;
	padding-bottom: 6px;
}
.header a {
	font-size: 25px;
	text-decoration: none;
	color: #A9A9A9;
}



/*---HEADER---*/

/*---ANIMATIONS---*/
/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 50%;
	right: 50%;
	bottom: 0;
	background: #A9A9A9;
	height: 3px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}
