.container ._button-4:active {
  font-size: 20px;
  font-weight: Bold;
}

body {
  background-color: rgb(104, 184, 221);
  font: 400 1em/1.38 Avenir;
  color: rgb(162, 162, 162);
}

.container .element {
  width: 22.9994158878%;
  min-height: 442px;
  margin-top: 25px;
  padding-bottom: 57px;
  background-color: #323232;
}

.element {
  float: left;
}

.element .element {
  width: 58px;
  height: 58px;
  margin: 19px 0 0 2.42991%;
  background: url('../images/ic_arrow_back_white_48px.svg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: 48px 48px;
  background-position: center center;
}

.element .element:hover {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 58px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.element .image {
  margin: 40px auto 0;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

._button {
  display: block;
  font-weight: normal;
}

.container-1 {
  position: absolute;
  top: 149px;
  left: 0;
  right: 0;
  z-index: 21;
  width: 876px;
  height: 626px;
  margin: 0 auto;
  padding-left: 23px;
  background-color: rgba(160, 211, 237, 0);
}

.container-2 {
  position: relative;
  float: left;
  z-index: 8;
  width: 306px;
  height: 626px;
  background-image: url('../images/Product%20Image%20w_%20Shadow.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  overflow: hidden;
}

.container-3 {
  position: absolute;
  top: 77px;
  left: 20px;
  z-index: 7;
  width: 1416px;
  height: 473px;
  overflow: visible;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.container-4 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 15;
  width: 491px;
  height: 528px;
  margin: auto 0;
}

.container-5 {
  float: left;
  clear: both;
  width: 10.7854630715%;
  height: 26px;
  margin: 4px 0 0 107px;
}

.container-6 {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 771px;
  padding-bottom: 25px;
  background-color: #434343;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5) inset;
}

.element-1 {
  width: 100%;
  height: 98px;
  border-bottom: 3px solid rgb(255, 255, 255);
  background-color: rgba(0, 78, 139, 0.18);
}

.element-3 {
  margin-left: 1.6471962616%;
}

.element-4 {
  margin-left: 1.6384345794%;
}

.element-5 {
  margin-left: 1.4997079439%;
}

.element-6 {
  margin-left: 1.648656542%;
}

.element-7 {
  clear: both;
  width: 100%;
  height: 40px;
  background-color: rgb(84, 164, 205);
}

.image-1 {
  float: left;
  width: 266px;
}

.image-2,
.image-3,
.image-4 {
  float: left;
  width: 266px;
  margin-left: 23px;
}

.image-5 {
  position: relative;
  float: left;
  z-index: 9;
  width: 164px;
  margin-left: 5.33669%;
}

.image-7 {
  width: 61px;
}

.image-6,
.image-8,
.image-9 {
  width: 135px;
}

.text-1 {
  float: left;
  margin: 32px 0 0 2.96875%;
  font-family: 'Pier Sans';
  font-size: 1.813em;
  color: rgb(255, 255, 255);
}

.text-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 308px;
  min-height: 70px;
  margin: -63px 0 0 146px;
  font-family: Avenir-Book;
  font-size: 1em;
  font-weight: normal;
  color: rgb(184, 232, 255);
}

.text-3 {
  position: absolute;
  top: 171px;
  left: 0;
  right: 0;
  z-index: 11;
  width: 417px;
  min-height: 110px;
  margin: 0 auto;
  font: normal 1.125em/1.58 Avenir-Book;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-4 {
  width: 75.5809523809%;
  margin: 57px auto 0;
  font-size: 1em;
  text-align: center;
  color: rgb(162, 162, 162);
}

.text-5 {
  float: left;
  clear: both;
  width: 75.5809523809%;
  margin: 58px 0 0 12.1968253968%;
  font-size: 1em;
  text-align: center;
  color: rgb(162, 162, 162);
}

.text-6 {
  width: 75.5809523809%;
  margin: 61px auto 0;
  font-size: 1em;
  text-align: center;
  color: rgb(162, 162, 162);
}

.text-7 {
  width: 75.5809523809%;
  margin: 56px auto 0;
  font-size: 1em;
  text-align: center;
  color: rgb(162, 162, 162);
}

.container ._button-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 13;
  width: 308px;
  height: 90px;
  margin: -148px 0 0 157px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  font-family: PierSans;
  font-size: 2.563em;
  text-align: left;
  color: rgb(255, 255, 255);
}

.container ._button-2 {
  position: absolute;
  top: 354px;
  left: 0;
  right: 0;
  z-index: 12;
  width: 170px;
  height: 51px;
  margin: 0 auto;
  border-radius: 8px;
  background: url('../images/github(2).png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-family: CocoGothic;
  font-size: 1.375em;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.container ._button-2:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
}

.container ._button-3 {
  float: left;
  width: 170px;
  height: 51px;
  margin: 261px 0 0 32.58656%;
  border-radius: 5px;
  background-color: rgb(50, 50, 50);
  font-family: SFUIDisplay-Thin;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.container ._button-4,
.container ._button-5,
.container ._button-6,
.container ._button-7 {
  float: left;
  width: 23px;
  height: 24px;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-family: PierSans;
  font-size: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.container ._button-4:hover,
.container ._button-5:hover,
.container ._button-6:hover,
.container ._button-7:hover {
  font-size: 1.25em;
  font-weight: Bold;
}