
.header {
  background-color: #c2bf98;
}
body {
  background-color: #F6F6F6;
}
.body {
  text-align: center;
  width: auto;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: calc(50% + 46px);
  transform: translateX(-50%) translateY(-50%);
}
p {
  letter-spacing: 1.15px;
  font-size: 16px;
  color: #777777;
}
img {
  width: 490px;
  margin: 0 auto 0 auto;
  display: block;
}
#soon {
  display: inline-block;
  margin-top: 60px;
  border: solid 1.5px;
  padding: 10px 15px;
  color: #c2bf98;
	font-family: "AvenirBold";
}
#message {
  width: 700px;
  margin-top: 57px;
  font-size: 18px;
	line-height: 175%;
}

/*---MOBILE---*/
@media screen and (max-width: 710px) {
    .body {
      width: calc(100% - 60px);
    }
    #message {
      width: 100%;
    }
}
