html, body, ul, div, img, h1, a, li {
	padding:0;
	margin:0;
}
* {
	transition: all 0.3s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h2 {
	font-size: 46px;
	font-weight: 300;
	color: #6F49FF;
	margin: 30px 0;
}
h3 {
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 1.5px;
	color: #626262;
	line-height: 150%;
	margin-bottom: 35px;
}
h4 {
	color: white;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 0 20px;
	position: absolute;;
	bottom: 22px;
}
b {
	font-weight: 500;
	color: #6F49FF;
}
a {
	text-decoration: none;
	color: #6F49FF;
	font-size: 18px;
	line-height: 18px;
	display: inline-block;
}
form {
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	border: solid 1px #dcdcdc;
	border-radius: 5px;
	display: none;
}
input {
	flex: 1 1 152px;
	border: none;
	margin: 0 -1px -1px 0;
	height: 41px;
	padding: 5px 20px;
	border-right: solid 1px #dcdcdc;
	border-bottom: solid 1px #dcdcdc;
	background-color: rgba(0,0,0,0);
	font-size: 16px;
	line-height: 16px;
	box-sizing: content-box;
}
input[type="number"] {
	flex: 0 1 auto;
	width: 97px;
}
input[type="date"] {
	flex: 0 1 auto;
	width: 153px;
	border-right: none;
}

input[type="submit"] {
	flex: 0 1 97px;
	height: 28px;
	border-right: none;
	border-radius: 5px;
	background-color: #6b44fb;
	color: white;
	float: right;
	margin: 6px 7px;
	text-align: center;
	font-size: 14px;
}
input[placeholder="Notes"] {
	flex: 3 1 auto;
	min-width: 300px;
}
#postForm input[type="date"] {
	border-right: solid 1px #dcdcdc;
}
input[type="submit"]:hover {
	background-color: #7f5eff;
}

input:focus {
   outline-width: 0;
}

input:focus::-webkit-input-placeholder {
   color: #6F49FF;
}
.current {
	display: flex;
}
#body {
	margin: 75px 0 125px 0;
	width: calc(90vw - 80px);
	max-width: 1200px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#header {
  display: block;
  padding: 40px 45px;
}
#labels > h2 {
	display: inline-block;
	margin: 30px 15px 30px 0;
	color: #dcdcdc;
}
#labels > h2:hover {
	color: #afafaf;
	cursor: pointer;
}
#labels > .selected {
	color: #6F49FF;
}
#labels > .selected:hover {
	color: #6F49FF;
}
#logowrapper {
  display: inline-block;
}
#logo {
	height: 50px;
}

#logout {
	display: inline-block;
	float: right;
	margin-top: 15px;
}
#card-wrapper {
	margin-top: 100px;
	display: block;
	width: calc(90vw - 40px);
	overflow-x: auto;
	white-space: nowrap;
	height: 222px;
	padding-top: 15px;
}
#card-wrapper::-webkit-scrollbar {
	display: none;
}

.card {
	display: inline-block;
	position: relative;
	white-space: normal;
	height: 219px;
	width: 186px;
	margin-right: 28px;
	background-color: #6F49FF;
	border-radius: 5px;
}
.card:hover {
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.4);
}
.card:hover .card-background{
	transform: translateY(-6px);
}
.card:hover h4{
	transform: translateY(-6px);
}
.card > div {
	height: 219px;
	width: 186px;
	filter: brightness(75%);
	border-radius: 5px;
}
#sf {
	background-image: url("../images/sf.jpg");
	background-size: cover;
	background-position-x: -70px;
}
#la {
	background-image: url("../images/la.jpeg");
	background-size: cover;
	background-position-x: -70px;
}
#sc {
	background-image: url("../images/sc.jpg");
	background-size: cover;
	background-position-x: -70px;
}

.hide {
	display: none;
}

@media screen and (max-width: 1088px) {
	input[type="date"] {
		border-right: solid 1px #dcdcdc;
		flex: 1 1 auto;
		width: 153px;
	}
	input[type="submit"] {
		flex: 1 1 97px;
	}
	#card-wrapper {
		width: calc(100vw - 81px);
	}
}
@media screen and (max-width: 606px) {
	#body {
	  margin-top: 0px;
	  width: calc(100% - 70px);
	  max-width: 1200px;
	  position: absolute;
	  left: 50%;
	  transform: translateX(-50%);
	}
	input {
		flex: 1 1 auto !important;
		min-width: 0px ;
	}
	#header {
		padding: 35px;
	}
	h3 {
		font-size: 24px;
		margin-bottom: 7px;
	}
	#card-wrapper {
		margin-top: 80px;
		width: calc(100vw - 35px);
	}
}
