html, body, ul, div, img, h1, a, li {
	padding:0;
	margin:0;
}
* {
	transition: all 0.3s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
  color: #6F49FF;
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
}
h3 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0;
}
h4 {
  margin: 0;
}
#body {
  text-align: center;
}
#header {
  display: block;
  padding: 54px 45px;
  background-color: #6F49FF;
  color: white;
  text-align: center;
}
.picWrapper {
  display: inline-block;
}
#location {
  display: inline-block;
  transform: translateY(1px);
}
#back {
  float: left;
}
#back > img{
	height: 27px;
}
#filter {
  float: right;
}
#filter > img{
  height: 24px;
}
#header-dots {
  height: 23px;
  margin: 0 60px;
}
.location-label {
  transform: translateY(-5px);
}
/* CARD STUFF */
.card-expanded {
  width: 900px;
  height: 450px;
  background-color: white;
  display: block;;
  box-shadow: 0px 28px 35px 0px rgba(0,0,0,0.09);
  border-radius: 8px;
  margin: 40px auto;
}
#map {
  width: 450px;
  height: 450px;
  float: right;
  background-image: url("../images/map.png");
  background-size: contain;
}
.info {
  width: 376px;
  height: 387px;
  position: relative;
  float: left;
  margin: 32px 37px;
  box-sizing: border-box;
  text-align: left;
}
.info > * {
  display: inline-block;
  margin: 0;
  position: absolute;
  vertical-align: top;
}
.trip-info {
  width: 100%;
  top: 157px;
  position: absolute;
  height: 138px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.trip-info > * {
  display: inline-block;
  position: static;
}
.profile-pic {
  width: 44px;
  height: 44px;
  background-color: #6f49ff;
  background: linear-gradient(194deg, #ac85ff, #6F49FF);
  border-radius: 22px;
  left: 0;
}
.name {
  left: 60px;
  top: 2px;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
.spots {
  top: 25px;
  left: 60px;
  font-size: 14px;
  color: #757575;
  font-weight: 400;
}
.price {
  right: 0;
  top: 1px;
  color: #42cb6f;
  font-weight: 300;
  font-size: 34px;
}
.description {
  top: 65px;
  font-size: 18px;
  line-height: 150%;
  color: #757575;
}
#message {
  bottom: 3px;
}
#message:hover #Search-Results-Message {
  fill: #8862ff;
}
#request-button {
  bottom: 0;
  right: 0;
  background-color: #6f49ff;
  color: white;
  padding: 10px 112px 12px 112px;
  border-radius: 5px;
}
#request-button:hover {
  background-color: #8862ff;
}
.left {
  text-align: right;
  float: left;
  width: 126px;
}
.right {
  text-align: left;
  float: right;
  width: 196px;
}
.time,.adress{
  font-size: 20px;
  font-weight: 500;
  color: #454545;
  margin: -3px 0 2px 0;
}
.date,.city {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 3.25px;
  color: #757575;
}
.date {
  transform: translateX(3px);
}
.departure.date,.departure.city {
  margin-bottom: 56px;
}
/* CARD SMALL */
.card-mini {
  width: 452px;
  height: 69px;
  padding: 24px 30px;
  background-color: white;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  display: block;
  margin: 0 auto 24px auto;
}
.card-mini > .info {
  height: 69px;
  width: 100%;
  margin: 0;
}
.card-mini > .info > .profile-pic {
  height: 69px;
  width: 69px;
  border-radius: 40px;
}
.card-mini > .info > .name {
  left: 96px;
  top: 12px;
}
.card-mini > .info > .spots {
  left: 96px;
  top: 37px;
}
.card-mini > .info > .price {
  font-size: 38px;
  top: 8px;
}
