@import "variables.scss";

#contactBody {
  max-width: 550px;
  width: calc(100% - 60px);
  margin: 100px auto 70px auto;
  text-align: center;
  div {
    display: inline-block;
  }
  h1 {
    font-size: 25px;
    color: #575f62;
    margin: 0;
  }
  h2 {
    font-size: 17px;
    color: #9c9c9c;
    letter-spacing: 6px;
  }
  
  #contact-info {
    margin: 60px 0 0 0;
  }
  #contact-info > h1 {
    margin-bottom: 30px;
    text-align: left;
  }
  #contact-info > h2 {
    margin-bottom: 11px;
    text-align: left;
  }
  #contact-info > #email {
    margin-bottom: 5px;
  }
  
  #images img {
      width: 50px;
      transition: all 0.2s ease-out;
      margin-right: 40px;
  }
  #images .last {
    margin-right: 0px;
  }
  #images img:hover {
      box-shadow: 0 0 7px rgba(0,0,0,0.4);
      border-radius: 200px;
  }
  svg {
    width: 100%;
    height: auto;
    transform: translateX(10px);
  }
  a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  }
  
  #Combined-Shape:hover {
    transition: all 0.4s;
    cursor: pointer;
  }
  
  circle:hover {
    cursor: pointer;
    transition: all 0.4s;
  }
  
  #LinkedIn > path:hover {
    fill: #16a3ed;
  }
  
  #Facebook> path:hover {
    fill: #4480e6;
  }
  
  #GitHub> path:hover {
    fill: #af79ff;
  }
  
  #LinkedIn > circle:hover + path {
    fill: #16a3ed;
    transition: all 0.3s;
  }
  
  #Facebook > circle:hover + path {
    fill: #4480e6;
    transition: all 0.3s;
  }
  
  #GitHub > circle:hover + path {
    fill: #af79ff;
    transition: all 0.3s;
  }
  
  /*---MOBILE---*/
  @media screen and (max-width: $breakSmall) {
    #contact-info h1 {
      font-size: 24px;
    }
    #contact-info h2 {
      font-size: 14px;
    }
  }
}
