@import "variables.scss";

.ebay {
  overflow-x: hidden;
  .backArrow {
    svg {
        fill: #C8FFE7;
        filter: brightness(1);
        transition: filter 0.25s;
    }
    svg:hover {
      filter: brightness(1.3);
    }
  }
  .innerWrapper {

      #lightbulbBanner {
        background-color: #FFFBE7;
        display: flex;
        flex-direction: row;
        padding: 4px 28px 3px 0;
        width: calc(100% + 104px);    
        transform: translateX(-76px);
        margin-top: 8px;
        border-radius: 5px;
        img {
          min-width: 32px;
          padding: 0 20px 0 24px;
          transform: translateY(-4px);
        }
        p {
          font-family: "ProductSans";
          font-weight: 700;
          color: #956C00;
        }
      }

      #proconChart {
        padding: 28px 32px;
        background-color: #F3FAFF;
        max-width: 380px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        h4 {
          color: #0053A0;
          padding: 0;
          margin-bottom: 8px;
        }
        div {
          display: flex;
          flex-direction: row;
          img {
            margin-left: 16px;
            width: 20px;
          }
          p {
            width: calc(100% - 36px);
            color: #0053A0;
            padding: 6px 0;
          }
        }
      }


      #header {
        height: 438px;
        background-color: #0081F8;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url('/images/ebayBanner.svg');
        background-size: 260px 104px;
      }

      .section { 
        margin: 0;
        box-sizing: border-box;
      }
      .sectionContent {
        padding: 60px 150px 60px 150px;
        margin: auto;
        max-width: 800px;
      }
      * {
        margin: 0;
      }
      h1 {
        color: #0065C2;
      }
      h2 {
        color: #0065C2;
      }
      b {
        font-weight: 500;
      }
      ol {
        margin: 5px 0 0 0;
        padding-left: 17px;
      }
      li {
        line-height: 1.5;
      }
      object {
        margin-top: 20px;
      }

      #headerImage {
        display: flex;
        padding-top: 20px;
        margin-bottom: 30px;
        img {
          width: initial;
          margin: 14px 0 10px 0;
          height: 75px;
        }   
        #headerDetails {
          display: flex;
          flex-direction: column;
          h5 {
            line-height: 2;
            margin-left: 32px;
            color: #2a2a2a;
            border-left: 2px solid #0065C2;
            padding-left: 30px;
            padding-top: 2px;
          }
        }
      }

      #dlButton {
        color: white;
        background-color: #0d71ff;
        padding: 14px 20px;
        border-radius: 5px;
        line-height: 16px;
        margin: 0 0 32px 0;
        transition: all 0.25s;
        font-weight: 700;
        font-size: 16px;
        font-family: "ProductSans";
        box-shadow: 0px 6px 26px #ffffff00;
        border: none;
        img {
          width: 16px;
          border: none;
          margin-left: 12px;
          transform: translateY(1px);
        }
      }
      #dlButton:hover {
        transform: translateY(-6px);
        cursor: pointer;
        box-shadow: 0px 6px 26px #0d71ff75;
      }
      #dlButton:active {
        transform: translateY(0px);
        cursor: pointer;
      }
      #dlButton:focus {
        outline: none;
      }

      .horizGallery {
        background-color: #f7fafb;
      }
      
      #navbarImg {
        background-color: #f3f3f3;
        padding: 5px;
        margin: 20px 0;
        img {
          width: 100%;
        }
      }

      .galleria { 
        width: 100%; 
        height: 480px; 
        margin: 20px 0;
        .galleria-theme-twelve .galleria-stage {
          background-color: #f3f3f3;
        }
        .galleria-theme-twelve .galleria-bar {
          background-color: #313131;
        }
      }         
  }
  .galleria-lightbox-box {
    .galleria-lightbox-content {
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #000;
    }
    .galleria-lightbox-info {
      color: #fff;
    }
    .galleria-lightbox-close {
      border-radius: 20px;
      top: 3px;
      right: 3px;
    }
  }
}

@media screen and (max-width: $breakMedium) {
  .ebay {
    .innerWrapper {
      #lightbulbBanner {
        transform: none;
        width: 100%;
        padding: 0;
        img {
          display: none;
        }
        p {
          padding: 16px 24px;
        }
      }
    }
  }
}
@media screen and (max-width: $breakSmall) {
  .ebay {
    .innerWrapper {
      #proconChart {
        padding: 20px 28px;
      }
    }
  }
}