.smallNav {
  #navbar {
    #navSection {
      #navWrapper {
        a:nth-child(2) {
          background-color: #FF6D6D !important;
          color: white;
          font-weight: 500;
        }
      }
    }
  }
  #wrapper {
    margin-left: 170px;
  }
}

#navbar {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,0.028);
  #navSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 45px;
    height: calc(100vh - 130px);
    #navWrapper {
      transform: translateY(0px);
      position: absolute;
      width: 325px;
      display: flex;
      flex-direction: column;
      #titles {
        opacity: 1;
        margin-bottom: 10px;
        h1 {
          font-size: 37px;
          font-weight: 500;
          color: #6B6B6B;
          margin: 14px 0 19px 7px;
        }
        h2 {
          font-size: 25px;
          color: #939393;
          margin: 0 0 0 7px;
          line-height: 1.4;
        }
      }   
      a {
        margin-top: 30px;
        margin-right: auto;
        color: #939393;
        text-decoration: none; 
        padding: 5px 7px;
        transition: color 0.2s;    
      }
      a:hover {
        color: black;
      }
      a:hover.active {
        color: white;
      }
      .active {
        color: white;
        font-weight: 500;
      }
    }
  }

  #logoWrapper {
    display: block;
    padding: 30px 40px;
    #logo {
      background-image: url('../images/logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      height: 50px;
      width: 50px;
      display: inline-block;
      filter: grayscale(0.8);
      transition: all 0.3s;
    }
    #logo:hover {
      filter: grayscale(0);
    }
  }
}
.index .active {
  background-color: #FF6D6D !important;
}

.contact .active {
  background-color: #6cdfb5 !important;
}

.resume .active {
  background-color: #8A6DFF !important;
}

// Animations

.expandNav {
  animation-name: expandNav;
  #navWrapper {
    animation-name: moveLinksDown;
  }
  #titles {
    animation-name: showTitles;
  }
  animation-name: expandNav;
}
.shrinkNav {
  animation-name: shrinkNav;
  #navWrapper {
    animation-name: moveLinksUp;
  }
  #titles {
    animation-name: hideTitles;
  }
  animation-name: shrinkNav;
}

@keyframes expandNav {
  from {
    width: 170px;
  }
  to {
    width: 415px;
  }
}
@keyframes shrinkNav {
  from {
    width: 415px;
  }
  to {
    width: 170px;
  }
}

@keyframes hideTitles {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes showTitles {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveLinksUp {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-90px);
  }
}
@keyframes moveLinksDown {
  from {
    transform: translateY(-90px);
  }
  to {
    transform: translateY(0px);
  }
}
