.photography {
  background-color: #181818;
  #navbar {
    background-color: rgba(0,0,0,0.1);
    #navSection {
      #navWrapper {
        h1 {
          color: #cecece;
        }
        a:hover {
          color: white;
        }
      }
    }
    
    #logoWrapper {
      #logo {
        filter: grayscale(1) brightness(3);
        transition: 0.3s filter;
      }
      #logo:hover {
        filter: grayscale(1) brightness(9);
      }
    }
    
  }
  #photography {
    text-align: center;
    padding-bottom: 75px;
    img {
      filter: grayscale(100%);
      transition: filter 0.55s;
    }
    * {    
      max-width: calc(100% - 150px);
      max-height: calc(100vh - 150px);
      padding: 75px 75px 0 75px;
    }
    iframe {
      width: 100%;
    }
    .currentPic {
      filter: grayscale(0%) !important;
    }
  } 
}
