@import "fonts.css.scss";
@import "navbar.css.scss";
@import "portfolio.css.scss";
@import "contact.css.scss";
@import "resume.css.scss";
@import "lane.css.scss";

$navbarWidth: 480px;

* {
  font-family: 'Graphik';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 24px 0;
}

h2 {
  font-size: 25px;
  margin: 24px 0;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 18px 0;
}

p {
  font-size: 16px;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  width: 100vw;
  transition: background-color 0.3s;
  background-color: #fff;
}

#navbar {
  position: fixed;
  width: $navbarWidth;
}

#wrapper {
  flex: 1;
  margin-left: $navbarWidth;
}

// Animations
.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@keyframes fadeInDown {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;

  }
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;

  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;

  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;

  }
  to {
    opacity: 0;

  }
}