.uber {
   .backArrow {
      svg {
         fill: #e8feff;
         filter: brightness(1);
         transition: filter 0.2s;
      }
      svg:hover {
        filter: brightness(1.4);
      }
   }
   #wrapper {
      overflow-x: hidden;
      .innerWrapper {
        #header {
          height: 338px;
          background-color: #0A2F3C;
          
          .headerImage {
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-image: url('/images/uber/uberBackgroundGraphic.svg');
            height: 100%;
            width: 100%;
            margin-top: -55px;
          }
        }
        h1 {
          color: #1D3839;
        }
        h2 {
          margin: 40px 0 30px 0;
        }
        p {
          line-height: 26px;
          margin-bottom: 30px;
        }
        h3 {
          color: #1D3839;
          margin: 0;
        }
        .horizGallery {
          background-color: #f7fafb;
        }
        #uberFooter {
          background-color: #F2F3F3;
          display: flex;
          justify-content: center;
          > div {
            display: flex;
            align-items: center;
            padding: 32px;
            overflow-x: scroll;
            * {
              white-space: nowrap;
            }
            a {
              margin-left: 30px;
              padding: 23px 38px;
              color: #fff;
              border-radius: 100px;
              transition: all 0.25s;
              box-shadow: 0px 6px 0px #ffffff00;
            }
            a:hover {
              transform: translateY(-6px);
              cursor: pointer;
            }
            a:active {
              transform: translateY(0px);
              cursor: pointer;
            }
            #principleUber {
              background-color: #44DEC0;
            }
            #principleUber:hover {
              box-shadow: 0px 6px 26px #44dec075;
            }
            #macUber {
              background-color: #654BDB;
            }
            #macUber:hover {
              box-shadow: 0px 6px 26px #654BDB75;
            }
            #movieUber {
              background-color: #F86D6D;
            }
            #movieUber:hover {
              box-shadow: 0px 6px 26px #F86D6D75;
            }
          }
        }
        .sectionContent {
          padding: 50px 120px 0 120px;
          margin: auto;
          max-width: 800px;
          .galleryHeader {
            margin-bottom: 0;
          }
          img {
            width: calc(100%);
            margin-bottom: 40px;
          }
          .highlightedText {
            background-color: #F1F5F7;
            padding: 21px 33px;
            width: calc(100% + 66px);
            transform: translateX(-33px);
            border-radius: 6px;
            color: #0A2F3C;
            font-style: italic;
            margin: 33px 0;
            box-sizing: border-box;
          }

          #dragDown {
            .col:nth-child(1) {
              padding-right: 75px;
            }
            #oldUber {
              width: 260px;
              margin-top: 40px;
            }
          }

          #uberPrototype {
            height: 696px;
            width: 100%;
            margin: 30px 0 35px 0;
            transform: translateX(-10px);
          }
        }
      }
   }
}
