<!doctype html>
<html>
  <head>
    <%= partial "head" %>
  </head>
  <%= partial "navbar" %>
  <body class="<%= page_classes %>">
    
    <div id="body">
      <%= yield %>
    </div>
  </body>
</html>