<!doctype html>
<html>
  <head>
    <%= partial "head" %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial "navbar" %>
    <div id="wrapper" class="animated">
      <%= yield %>
    </div>
  </body>
</html>