@import "./variables";

#wrapper {
   width: 100%;
   height: 100%;
}

#wrapper > div > div > div {
   left: $navbarWidth;
   width: calc(100% - #{$navbarWidth});
   height: 100%;
   overflow-y: auto;
   position: fixed;
   top: 0;
   transition: all 0.3s;
}

#wrapper.smallNav > div > div > div {
   left: $navbarWidthSmall;
   width: calc(100% - #{$navbarWidthSmall});
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

@media screen and (max-width: $breakSmall)  {
  #wrapper > div > div > div {
     top: $navbarMobileHeight;
     width: 100%;
     left: 0;
     height: calc(100% - #{$navbarMobileHeight});
  }

  #wrapper.smallNav > div > div > div {
     left: 0;
     width: 100%;
  }
}
