@import "./variables";

#App {
   display: flex;
}

#PageContent {
   display: flex;
}

#wrapper {
   height: 100%;
   overflow-y: auto;
   position: fixed;
   top: 0;
   transition: all 0.3s;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}

#wrapper.smallNav {
   left: $navbarWidthSmall;
   width: calc(100% - #{$navbarWidthSmall});
}

#wrapper.bigNav {
   left: $navbarWidth;
   width: calc(100% - #{$navbarWidth});
}

@media screen and (min-width: $breakSmall) {
   .smallNav {
      #wrapper {
         width: calc(100% - #{$navbarWidthSmall});
         left: $navbarWidthSmall;
      }
   }
}
