@import "./variables";

#wrapper {
   left: $navbarWidth;
   width: calc(100% - #{$navbarWidth});
   height: 100%;
   overflow-y: auto;
   position: fixed;
   top: 0;
   transition: all 0.3s;
   &.smallNav {
      left: $navbarWidthSmall;
      width: calc(100% - #{$navbarWidthSmall});
   }
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

@media screen and (min-width: $breakSmall) {
   .smallNav {
      #wrapper {
         width: calc(100% - #{$navbarWidthSmall});
         left: $navbarWidthSmall;
      }
   }
}
