@import "variables";

#navbar {
   #navBackground {
      transition: 0.3s all;
      height: 100vh;
      background-color: #f8f8f8;
   }
   #titles {
      transition: 0.3s all;
      top: calc(50% - 182px - 28px);
      position: fixed;
      left: 32px;
      h2 {
         font-weight: 500;
         color: #5a5a5a;
         padding: 12px 0;
         font-size: 37.2px;
      }
      h3 {
         color: #939393;
         padding: 0;
         font-weight: 400;
      }
   }
   #linkWrapper {
      transition: 0.3s all;
      position: fixed;
      display: flex;
      flex-direction: column;
      left: 32px;
      a {
         color: #939393;
         padding: 4px 8px 3px 8px;
         transition: all 0.2s;
         border: 1px solid #00000000;
         margin-bottom: 16px;
      }
      a:hover {
         color: #474747;
         background-color: rgb(238, 238, 238);
      }
      .active {
         color: #fff;
         font-weight: 600;
         background-color: #6F73FF;
      }
      .active:hover {
         color: #fff;
         font-weight: 600;
         background-color: #6F73FF;
      }
   }
   #logoWrapper {
      position: fixed;
      bottom: 24px;
      left: 24px;
      #logo {
         background-image: url('../images/logo.svg');
         background-size: contain;
         background-repeat: no-repeat;
         background-position: 50%;
         height: 50px;
         width: 50px;
         display: inline-block;
         filter: grayscale(0.8);
         transition: all 0.4s;
      }
      #logo:hover {
         filter: grayscale(0.3);
      }
   }
}

#navbar.bigNav {
   #navBackground {
      width: $navbarWidth;
   }
   #titles {
      opacity: 1;
   }
   #linkWrapper {
     top: calc(50% + 8px);
   }
}

#navbar.smallNav {
   #navBackground {
      width: $navbarWidthSmall;
   }
   #titles {
      opacity: 0;
   }
   #linkWrapper {
     top: calc(50% + 8px - 65px);
   }
}

@media screen and (max-width: $breakSmall) {
  #navbar {
    #navBackground {
      height: $navbarMobileHeight;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.027);
    }
    #linkWrapper {
      flex-direction: row;
      left: calc(50% - 124px);
      top: 24px;
      a {
        margin: 0 8px 0 0;
      }
    }
    #titles {
      display: none;
    }
    #logoWrapper {
      display: none;
    }
  }
}
