@import './variables.scss';

.photography {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 75px;
   padding: 75px;
   box-sizing: border-box;

   img {
      filter: grayscale(100%);
      transition: filter 0.55s;
      max-width: 100%;
      max-height: calc(100vh - 150px);
   }

   .currentPic {
      filter: grayscale(0%) !important;
   }

   @media screen and (max-width: 1002px) {
      gap: 20px;
      padding: 20px;

      img {
         max-height: calc(100vh - 64px);
         filter: grayscale(0%);
      }
   }
}