$cardWidth: 276px;
$cardGap: 32px;
$portfolioPadding: 100px;

$navbarWidth: 446px;
$navbarWidthSmall: 146px;
$navbarMobileHeight: 80px;

$breakLarge: 3*($cardWidth + $cardGap) + $navbarWidth + 2*$portfolioPadding;
$breakMedium: 2*($cardWidth + $cardGap) + $navbarWidth + 2*$portfolioPadding;
$breakSmall: 1*($cardWidth + $cardGap) + $navbarWidth + 2*$portfolioPadding;
