<div id="navbar" data-turbolinks-permanent>
   <div id="navBackground" class="animatedShort"></div>
   <div id="titles" class="animatedShort">
      <h3>Hi, I'm</h3>
      <h2>Spoorthy Vemula</h2>
      <h3>I'm a UI/UX Designer & Developer</h3>
   </div>
   <div id="linkWrapper" class="animatedShort">
         <a href="/" id="portfolioLink">Portfolio</a>
         <a href="/contact" id="contactLink">Contact</a>
         <a href="/resume" id="resumeLink">Resume</a>
      </div>
   <div id="logoWrapper">
      <a id="logo" href="/"></a>
   </div>
</div>