---
title: fiveMinShower
---

<div class="innerWrapper">
      <div class="section" id="header">
            <a class="backArrow" href="/">
                  <svg fill="#939393" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
                  </svg>
            </a>
            <div class="headerImage">
            </div>
      </div>
      <div class="section" id="main">
            <div class="sectionContent">
                  <h1>5 Min Shower</h1>
                  <p>5 Min Shower is an iOS app that me and 3 developers built at a hackathon (AngelHacks 2015). I worked as the sole designer for the app.</p>
                  <h3 class="galleryHeader">App Idea</h3>
                  <p>Build an app to help help users save water in the shower.</p>
                  <h3 class="galleryHeader">The Problem</h3>
                  <p>We needed to create an app that bugged users enough to get them out of the shower while still giving them a reason to keep coming back to our annoying app.</p>
                  <h3 class="galleryHeader">Our Solution</h3>
                  <p>A simple shower timer that plays music for you 5 minutes. If you take longer than that, the app plays ads to annoy you until you get out of the shower. If a user takes 5 successful showers they get to keep the ad.</p>
            </div>
            <div class="mockDescription">
                  <div class="sectionContent">
                        <h3 class="galleryHeader">Mockups</h3>
                  </div>
                  <img class="mockImage" src="/images/fiveMinShower/showerMocks.jpg">
            </div>
            <div class="sectionContent" id="finalProduct">
                  <h3 class="galleryHeader">Final Product</h3>
                  <p>After the hackathon, we released a <b>finished iOS app</b> to the app store. We had over 50,000 downloads after 12 months. Although its not on the app store anymore, here is a link to our code:</p>
                  <a href="https://github.com/SaagarGodithi/5minShower" target="_blank" class="githubButton"></a>
            </div>
      </div>
</div>
