---
title: jupyter
---
<a class="backArrow" href="/">
      <svg fill="#939393" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
      </svg>
</a>
<div class="innerWrapper">
      <img src='images/jupyterfull.svg'>
      <h3>My Role</h3>
      <p>Jupyter is an open source organization that builds an interactive data science IDE used by over 30 million people around the world. I worked there as a hybrid <b>UI/UX Designer and Front-end Engineer</b> for 9 months.</p>
      <h2>JupyterLab</h2>
      <h3>The Project</h3>
      <p>
            My main job at Jupyter was to help build the next generation JupyterLab web application. The existing Jupyter Notebooks that all our users knew and loved allowed users to wirte and run code inline in an extremely visual and interactive way. JupyterLab builds around the notebook by adding commonly used developer tools (e.g. a terminal, file browser, text editor, etc.) in a multiwindow interface. Our team’s job was to research, design, and develop these tools (called widgets) into JupyterLab as well as try to improve the overall interface. The entire app was built with javascript using a custom framework called Phosphor.JS.<br><br>
            Widgets and parts of Jupyterlab I worked on: <br>
            - Top navigation bar <br>
            - Terminal <br>
            - Image Viewer <br>
            - Redid File Browser <br>
            - Notebook widget toolbar <br>
      </p>
      <div class="galleria">
            <img src="images/jupyter/old.png">
            <img src="images/jupyter/new.png">
            <img src="images/jupyter/image.png">
      </div>
      <script>
            (function() { 
                  Galleria.loadTheme('galleria/themes/twelve/galleria.twelve.min.js');
                  Galleria.run('.galleria', {
                        transition: 'fade',
                        imageCrop: false
                  });
            }());
      </script>
</div>
