---
title: lane
---
<a class="backArrow" href="/">
      <svg fill="#939393" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
      </svg>
</a>
<div class="innerWrapper">
      <img src='images/lane-purple.svg'>
      <p id="message"> Lane is a beautiful React-Native iOS app for long range ride sharing. I am working as the lead designer on the team and helping build the React-Native frontend.</p>
      <a id="soon" href="https://sketch.cloud/s/eKbDq" target="_blank"> See Our Preliminary Mocks</a>
</div>
