---
title: lane
---

<div class="innerWrapper">
      <div class="section" id="header">
            <a class="backArrow" href="/">
                  <svg fill="#939393" height="24" viewBox="0 0 24 24" width="24">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
                  </svg>
            </a>
      </div>
      <div class="section" id="main">
            <div class="sectionContent">
                  <h1>Lane</h1>
                  <p>
                        Lane is a long distance ridesharing application built to be easy, efficient, and beautiful. 
                        I am currently working as the designer for lane along with 2 other engineers. 
                        We hope to release the first version by March 2018.<br><br>
                        For now here is a sneak preview of the design
                  </p>

                  <h3 class="galleryHeader">Desktop</h3>
            </div>
            <div class="horizGallery">
                  <div class="imgWrapper">
                        <img src="/images/lane/Find.png">
                        <img src="/images/lane/DriveDesk.png">
                        <img src="/images/lane/SearchResults.png">
                  </div>
                  <div class="close">x</div>
            </div>
            <div class="sectionContent">
                  <h3 class="galleryHeader">Mobile</h3>
            </div>
            <div class="horizGallery">   
                  <div class="imgWrapper">                   
                        <img src="/images/lane/Ride.png">
                        <img src="/images/lane/RideHover.png">
                        <img src="/images/lane/Explore.png">
                        <img src="/images/lane/Results.png">
                        <img src="/images/lane/Drive.png">
                        <img src="/images/lane/DriveHover.png">
                  </div>
                  <div class="close">x</div>
            </div>
      </div>
</div>
