---
title: lane
---
<div class="innerWrapper">
      <img src='images/lane-purple.svg'>
      <p id="message"> Lane is a beautiful React-Native iOS app for long range ride sharing. I am working as the lead designer on the team and helping build the React-Native frontend.</p>
      <a id="soon" href="./merge/index.html" target="_blank"> See a Preliminary Mockup</a>
</div>
