---
title: Photography
---
<div id="photography">
   <img src='/images/IMGP6915-1405412511-O.jpg' class="currentPic">
   <img src='/images/kina.jpg'>
   <img src='/images/IMGP7651.jpg'>
   <img src='/images/IMGP7718.jpg'>
   <img src='/images/mitchy.jpg'>
   <img src='/images/Copy of IMGP8069.jpg'>
   <img src='/images/Copy of MtDiabloHDR2.jpg'>
   <iframe id="1" width="560" height="315" src="https://www.youtube.com/embed/KEB6u6Eilts" frameborder="0" allowfullscreen></iframe>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/MlqxD4AtdPM" frameborder="0" allowfullscreen></iframe>
</div>
