---
title: Photography
---
<div id="photography">
   <img src='/images/photography/IMGP6915-1405412511-O.jpg' class="currentPic">
   <img src='/images/photography/kina.jpg'>
   <img src='/images/photography/IMGP7651.jpg'>
   <img src='/images/photography/IMGP7718.jpg'>
   <img src='/images/photography/mitchy.jpg'>
   <img src='/images/photography/Copy of IMGP8069.jpg'>
   <img src='/images/photography/Copy of MtDiabloHDR2.jpg'>
</div>
