---
title: Resume
---
<div class="innerWrapper">
      <div class="section">
            <div class="sectionContent">
                  <a id="dlResumeButton" href="/files/resume.pdf" download>
                     Download Resume
                     <img src="/images/downloadCloud.svg">
                  </a>
                  <img src="/images/resume.png">                
            </div>
      </div>
</div>


