---
title: Zoomforth
---
<a class="backArrow" href="/">
      <svg fill="#939393" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
      </svg>
</a>
<div class="innerWrapper">
      <div class="section">
            <div class="sectionContent">
                  <div id="header">
                        <img  src='images/zoomforth-color.svg'>
                        <div id="headerDetails">
                              <h5> 
                                    UI Engineer and UX Design Intern<br>
                                    June 2017 - Sep 2017
                              </h5>
                        </div>
                  </div>
                  <h3>The Company</h3>
                  <p> 
                        <a href="https://zoomforth.com/">Zoomforth</a> is an online web application which allows users to quickly assemble any content: media, text, videos, files, etc, into a webpage. 
                        Its an application focused on providing businesses a tool to quickly deploy content rich pages for sales, marketing, and recruiting. Think Squarespace but for professional communications.
                  </p>
                  <h3>My Role</h3>
                  <p> 
                        As a designer at Zoomforth I had two main duties. My main job was to fix UI/UX issues with the web application.<br><br>

                        My other job was to work with companies to help them design their Zoomforth pages. 
                        If a customer ever had issues with their page, needed design advice, or just needed to build a new page from scratch I was always on call to help them.
                  </p>
                  <h3>More Info</h3>
                  <p> 
                        Unfortunatly I cant say much more about my work  😕. Please <a href="./contact"><b>contact me</b></a> if you want to see more.
                  </p>
            </div>
      </div>
</div>
